<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
		QuarterQuizes
	</title>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	 <link rel = "stylesheet" type = "text/css" href = "/../stylesheets/pageFormat.css" />
  </head>

 	<div class = "PageLayout">
 		<p id='AnswerDisplay'>
		</p>
		<p id = "Missed">
		</p>
	  	<div class = "WhiteBox">
			<div id="WhiteCover">
				<IMG id="rosie" SRC="http://www.pophistorydig.com/wp-content/uploads/2009/02/1941-45-rosie-the-riveter-55.jpg">
				<div id= "NumberCorrect">
				</div>
				<input id = "AnswerBoxButton"  id= "btn" onclick=" window.location.href='/'" type="button" value="Home">
			</div>
			<p id = "Error">
			</p>
		</div>

		<p class = "Directions">
			{{{directions}}}
		</p>
		<p>
			{{{score}}}
		</p>

		<p id = "Heading">
			{{{title}}}
		</p>
		<div>
<!-- 			<form action = '/quiz/submit' name = "StatusSubmit" id = 'HiddenForm' method = 'post'>
			    <input type="text" id="HiddenForm1" name="id" placeholder=" Name" value = 2>
			    <input type="text" id="HiddenForm2" name="status" placeholder=" Name" value=2>
			    <input type="text" id="HiddenForm3" name="numberC" placeholder=" Name" value=10>
				<input type="text" id="HiddenForm4" name="missedQ" placeholder=" Name" value=1-2-3-4>
				<input class= "btn" type="button" value="Submit" onClick="sendAnswers()">
			</form> -->
		</div>
		
	    {{{body}}}

	    <img class = "backimg" src="http://www.timvandevall.com/wp-content/uploads/2013/10/Printable-Notebook-Paper-04.jpg">
	<div>

</html>


