<!DOCTYPE html>

<html>

<head>

	<title>
		QuarterQuizes
	</title>
  	<script type="text/javascript" src="/javascripts/grading.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
</head>


<body>
	<p id='AnswerDisplay'>
	</p>
	<div class = "WhiteBox">
		<p class = "DoneBody">
			Congratulations!
			You have completed all of your Quarter Quizzes!
		</p>

	<img class = "celebrate1" src="https://media.giphy.com/media/Is1O1TWV0LEJi/giphy.gif">

	<img class = "celebrate2" src="https://media.giphy.com/media/26ybvc933ySAi978s/giphy.gif">
		</form>
	</div>

  <img class = "backimg" src="http://www.timvandevall.com/wp-content/uploads/2013/10/Printable-Notebook-Paper-04.jpg">
<script type="text/javascript">

	if ({{{show}}}){
		DisplaySubmissionDetails({{{numberC}}}, {{{missedQ}}})
	}

</script>

</body>

</html>