
<!DOCTYPE html>

<html>

<head>
	<script type="text/javascript" src="./../javascripts/grading.js"></script>
</head>


  <body>
	<p id='AnswerDisplay'>
	</p>
	<div class = "WhiteBox">
		<img class = "img1" src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/fb1d732d-28ca-4f24-849a-423ee34e8a74.gif">
		<img class = "img2" src="https://math8geometry.wikispaces.com/file/view/compandsupp.gif/33819891/compandsupp.gif">

	</div>


 </body>

<script type="text/javascript">
	function sendAnswers(){
		processAnswers(	AnglesStudyAns,
			[])
	}
</script>


</html>
