
<!DOCTYPE html>

<html>

<head>
  <script type="text/javascript" src="../../javascripts/grading.js"></script>
</head>


  <body>
	<div class = "Content">
		<form id = "questions" name = "Questions">
		The exponential power represents repeated multiplication.
		<br>
		7<sup>4</sup> = 7 * 7 * 7 * 7
		<br>
		When multiplying powers, add the exponents.
		<br>
		7<sup>5</sup> * 7<sup>8</sup> = 7<sup>(5+8)</sup> = 7<sup>12</sup>
		<br>
		When exponent an exponent, multiply the exponents. 
		7<sup>4*3</sup> = 7<sup>4</sup> * 7<sup>4</sup> * 7<sup>4</sup> = 7<sup>3*4</sup> =7<sup>12</sup> 

		Any non zero value to the zero power equals one.
		7<sup>0</sup> = 1
		<br>
		A value to a negative exponent, inverses the value.
		7<sup>-1</sup> = 1&frasl;7
		<br>
		When dividing powers, subtract the exponents.
		(7<sup>5</sup>)&frasl;(7<sup>2</sup>) = 7<sup>5-2</sup> = 7<sup>3</sup>
		</form>
	</div>
	<input id= "btn" type="button" value="Submit" onClick="sendAnswers()">
</body>

<script type="text/javascript">
  function sendAnswers(){
    processAnswers( ExponentStudyAns,
      [])
  }
</script>

</html>
