
<!DOCTYPE html>

<html>
<head>
  <script type="text/javascript" src="./../javascripts/grading.js">
  	console.log({{{score}}})
  </script>

</head>

  <body>
	<div class = "Content">
		<div class = ProgressLayout>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Division Rules</u>
				</div>
				<div class = 'ProgressBlock' id = 'A'>
				1
				</div>
				<div class = 'ProgressBlock' id = 'B'>
				2
				</div>
				<div class = 'ProgressBlock' id = 'C'>
				3
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Angles</u>
				</div>
				<div class = 'ProgressBlock' id = 'A'>
				1
				</div>
				<div class = 'ProgressBlock' id = 'B'>
				2
				</div>
				<div class = 'ProgressBlock' id = 'C'>
				3
				</div>
				<div class = 'ProgressBlock' id = 'D'>
				4
				</div>
				<div class = 'ProgressBlock' id = 'E'>
				5
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Exponents</u>
				</div>
				<div class = 'ProgressBlock' id = 'A'>
				1
				</div>
				<div class = 'ProgressBlock' id = 'B'>
				2
				</div>
				<div class = 'ProgressBlock' id = 'C'>
				3
				</div>
				<div class = 'ProgressBlock' id = 'D'>
				4
				</div>
				<div class = 'ProgressBlock' id = 'E'>
				5
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Fractions</u>
				</div>
				<div class = 'ProgressBlock' id = 'A'>
				1
				</div>
				<div class = 'ProgressBlock' id = 'B'>
				2
				</div>
				<div class = 'ProgressBlock' id = 'C'>
				3
				</div>
				<div class = 'ProgressBlock' id = 'D'>
				4
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Pythagorean Theorem</u>
				</div>
				<div class = 'ProgressBlock' id = 'A'>
				1
				</div>
				<div class = 'ProgressBlock' id = 'B'>
				2
				</div>
				<div class = 'ProgressBlock' id = 'C'>
				3
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Percents</u>
				</div>
				<div class = 'ProgressBlock' id = 'A'>
				1
				</div>
				<div class = 'ProgressBlock' id = 'B'>
				2
				</div>
				<div class = 'ProgressBlock' id = 'C'>
				3
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>PrimeNumber</u>
				</div>
				<div class = 'ProgressBlock' id = 'A'>
				1
				</div>
				<div class = 'ProgressBlock' id = 'B'>
				2
				</div>
				<div class = 'ProgressBlock' id = 'C'>
				3
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Probability</u>
				</div>
				<div class = 'ProgressBlock' id = 'A'>
				1
				</div>
				<div class = 'ProgressBlock' id = 'B'>
				2
				</div>
				<div class = 'ProgressBlock' id = 'C'>
				3
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Properties</u>
				</div>
				<div class = 'ProgressBlock' id = 'A'>
				1
				</div>
				<div class = 'ProgressBlock' id = 'B'>
				2
				</div>
				<div class = 'ProgressBlock' id = 'C'>
				3
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Sequences</u>
				</div>
				<div class = 'ProgressBlock' id = 'A'>
				1
				</div>
				<div class = 'ProgressBlock' id = 'B'>
				2
				</div>
				<div class = 'ProgressBlock' id = 'C'>
				3
				</div>
			</div>
			<div class = 'ProgressRow'>
				<div class = 'ProgressTitle'>
				<u>Square Numbers</u>
				</div>
				<div class = 'ProgressBlock' id = 'A'>
				1
				</div>
				<div class = 'ProgressBlock' id = 'B'>
				2
				</div>
				<div class = 'ProgressBlock' id = 'C'>
				3
				</div>
			</div>
		</div>
  	</div>
 </body>
<script type="text/javascript">
  function sendAnswers(){
    processAnswers( Home,
      [],'home')
  }
</script>

</html>
