
<!DOCTYPE html>

<html>
<head>
  <script type="text/javascript" src="./../javascripts/grading.js">
  </script>
</head>

  <body>
	<div class = "Content">
		<form action= "/login" id = "questions" name = "Questions" method="post">
		    <input type="text" id="loginBox" name="firstname" placeholder=" Name">
        <input type="submit" class= "loginSubmit" id = "LoginBoxButton" value="Submit">
		</form>
    <p class = 'loginError'>
      {{{loginMessage}}}
    </p>
		<img class = "LoginImg" src="https://s-media-cache-ak0.pinimg.com/236x/6d/d4/e5/6dd4e555f6c3ebdaca5bd87d6de2d2d8.jpg">
  	</div>
        <div>
          <form name = "Test" action = '/login/submit' method = 'post'>
            <select name="StatusUpdate">
                <option id = "statusInput" value="NF is so cool"></option>
              </select>
            <input type="submit">
          </form>
        </div>
 
 </body>
<script type="text/javascript">
if ({{{sendMessage}}}){
  document.forms["Test"].submit();
  window.location.href='/home'
}
  function sendAnswers(){
    //login(document.Questions.firstname.value);
  }
</script>

</html>
