<!DOCTYPE html>

<html>

<head>
  <script type="text/javascript" src="./../javascripts/grading.js"></script>
</head>

<body>
	<div class = "Content">
		<p class = "PrimeNumbersQ">
		<input type="button" value="51" class= "primebutton" onClick="TurnBluePrimeQ('51','1')" id = "51">
		<input type="button" value="72" class= "primebutton" onClick="TurnBluePrimeQ('72','2')" id = "72">
		<input type="button" value="89" class= "primebutton" onClick="TurnBluePrimeQ('89','3')" id = "89">
		<input type="button" value="87" class= "primebutton" onClick="TurnBluePrimeQ('87','4')" id = "87">
		<input type="button" value="73" class= "primebutton" onClick="TurnBluePrimeQ('73','5')" id = "73">
		<input type="button" value="101" class= "primebutton" onClick="TurnBluePrimeQ('101','6')" id = "101">
		<input type="button" value="37" class= "primebutton" onClick="TurnBluePrimeQ('37','7')" id = "37">
		<input type="button" value="47" class= "primebutton" onClick="TurnBluePrimeQ('47','8')" id = "47">
		<input type="button" value="91" class= "primebutton" onClick="TurnBluePrimeQ('91','9')" id = "91">
		<input type="button" value="63" class= "primebutton" onClick="TurnBluePrimeQ('63','10')" id = "63">
		<input type="button" value="100" class= "primebutton" onClick="TurnBluePrimeQ('100','11')" id = "100">
		</p>
		<input id= "btn" type="button" value="Submit" onClick="sendAnswers()">
		</form>
	</div>
<script type="text/javascript">
	var guesses = [0,0,0,0,0,0,0,0,0,0,0]
	var clickCount = [0,0,0,0,0,0,0,0,0,0,0]


	function sendAnswers(){
		processAnswers(	PrimeNumbersQAns, guesses)
	}
</script>


</body>

</html>