<!DOCTYPE html>

<html>

<head>
  <script type="text/javascript" src="./../javascripts/grading.js"></script>
</head>

<body>
	<div class = "Content">
		<p class = "PrimeNumbers">
		<input type="button" value="1" class= "primebutton" onClick="TurnBlue('1')" id = "1">
		<input type="button" value="2" class= "primebutton" onClick="TurnBlue('2')" id = "2">
		<input type="button" value="3" class= "primebutton" onClick="TurnBlue('3')" id = "3">
		<input type="button" value="4" class= "primebutton" onClick="TurnBlue('4')" id = "4">
		<input type="button" value="5" class= "primebutton" onClick="TurnBlue('5')" id = "5">
		<input type="button" value="6" class= "primebutton" onClick="TurnBlue('6')" id = "6">
		<input type="button" value="7" class= "primebutton" onClick="TurnBlue('7')" id = "7">
		<input type="button" value="8" class= "primebutton" onClick="TurnBlue('8')" id = "8">
		<input type="button" value="9" class= "primebutton" onClick="TurnBlue('9')" id = "9">
		<input type="button" value="10" class= "primebutton" onClick="TurnBlue('10')" id = "10">

		<input type="button" value="11" class= "primebutton" onClick="TurnBlue('11')" id = "11">
		<input type="button" value="12" class= "primebutton" onClick="TurnBlue('12')" id = "12">
		<input type="button" value="13" class= "primebutton" onClick="TurnBlue('13')" id = "13">
		<input type="button" value="14" class= "primebutton" onClick="TurnBlue('14')" id = "14">
		<input type="button" value="15" class= "primebutton" onClick="TurnBlue('15')" id = "15">
		<input type="button" value="16" class= "primebutton" onClick="TurnBlue('16')" id = "16">
		<input type="button" value="17" class= "primebutton" onClick="TurnBlue('17')" id = "17">
		<input type="button" value="18" class= "primebutton" onClick="TurnBlue('18')" id = "18">
		<input type="button" value="19" class= "primebutton" onClick="TurnBlue('19')" id = "19">
		<input type="button" value="20" class= "primebutton" onClick="TurnBlue('20')" id = "20">

		<input type="button" value="21" class= "primebutton" onClick="TurnBlue('21')" id = "21">
		<input type="button" value="22" class= "primebutton" onClick="TurnBlue('22')" id = "22">
		<input type="button" value="23" class= "primebutton" onClick="TurnBlue('23')" id = "23">
		<input type="button" value="24" class= "primebutton" onClick="TurnBlue('24')" id = "24">
		<input type="button" value="25" class= "primebutton" onClick="TurnBlue('25')" id = "25">
		<input type="button" value="26" class= "primebutton" onClick="TurnBlue('26')" id = "26">
		<input type="button" value="27" class= "primebutton" onClick="TurnBlue('27')" id = "27">
		<input type="button" value="28" class= "primebutton" onClick="TurnBlue('28')" id = "28">
		<input type="button" value="29" class= "primebutton" onClick="TurnBlue('29')" id = "29">
		<input type="button" value="30" class= "primebutton" onClick="TurnBlue('30')" id = "30">

		<input type="button" value="31" class= "primebutton" onClick="TurnBlue('31')" id = "31">
		<input type="button" value="32" class= "primebutton" onClick="TurnBlue('32')" id = "32">
		<input type="button" value="33" class= "primebutton" onClick="TurnBlue('33')" id = "33">
		<input type="button" value="34" class= "primebutton" onClick="TurnBlue('34')" id = "34">
		<input type="button" value="35" class= "primebutton" onClick="TurnBlue('35')" id = "35">
		<input type="button" value="36" class= "primebutton" onClick="TurnBlue('36')" id = "36">
		<input type="button" value="37" class= "primebutton" onClick="TurnBlue('37')" id = "37">
		<input type="button" value="38" class= "primebutton" onClick="TurnBlue('38')" id = "38">
		<input type="button" value="39" class= "primebutton" onClick="TurnBlue('39')" id = "39">
		<input type="button" value="40" class= "primebutton" onClick="TurnBlue('40')" id = "40">

		<input type="button" value="41" class= "primebutton" onClick="TurnBlue('41')" id = "41">
		<input type="button" value="42" class= "primebutton" onClick="TurnBlue('42')" id = "42">
		<input type="button" value="43" class= "primebutton" onClick="TurnBlue('43')" id = "43">
		<input type="button" value="44" class= "primebutton" onClick="TurnBlue('44')" id = "44">
		<input type="button" value="45" class= "primebutton" onClick="TurnBlue('45')" id = "45">
		<input type="button" value="46" class= "primebutton" onClick="TurnBlue('46')" id = "46">
		<input type="button" value="47" class= "primebutton" onClick="TurnBlue('47')" id = "47">
		<input type="button" value="48" class= "primebutton" onClick="TurnBlue('48')" id = "48">
		<input type="button" value="49" class= "primebutton" onClick="TurnBlue('49')" id = "49">
		<input type="button" value="50" class= "primebutton" onClick="TurnBlue('50')" id = "50">

		<input type="button" value="51" class= "primebutton" onClick="TurnBlue('51')" id = "51">
		<input type="button" value="52" class= "primebutton" onClick="TurnBlue('52')" id = "52">
		<input type="button" value="53" class= "primebutton" onClick="TurnBlue('53')" id = "53">
		<input type="button" value="54" class= "primebutton" onClick="TurnBlue('54')" id = "54">
		<input type="button" value="55" class= "primebutton" onClick="TurnBlue('55')" id = "55">
		<input type="button" value="56" class= "primebutton" onClick="TurnBlue('56')" id = "56">
		<input type="button" value="57" class= "primebutton" onClick="TurnBlue('57')" id = "57">
		<input type="button" value="58" class= "primebutton" onClick="TurnBlue('58')" id = "58">
		<input type="button" value="59" class= "primebutton" onClick="TurnBlue('59')" id = "59">
		<input type="button" value="60" class= "primebutton" onClick="TurnBlue('60')" id = "60">

		<input type="button" value="61" class= "primebutton" onClick="TurnBlue('61')" id = "61">
		<input type="button" value="62" class= "primebutton" onClick="TurnBlue('62')" id = "62">
		<input type="button" value="63" class= "primebutton" onClick="TurnBlue('63')" id = "63">
		<input type="button" value="64" class= "primebutton" onClick="TurnBlue('64')" id = "64">
		<input type="button" value="65" class= "primebutton" onClick="TurnBlue('65')" id = "65">
		<input type="button" value="66" class= "primebutton" onClick="TurnBlue('66')" id = "66">
		<input type="button" value="67" class= "primebutton" onClick="TurnBlue('67')" id = "67">
		<input type="button" value="68" class= "primebutton" onClick="TurnBlue('68')" id = "68">
		<input type="button" value="69" class= "primebutton" onClick="TurnBlue('69')" id = "69">
		<input type="button" value="70" class= "primebutton" onClick="TurnBlue('70')" id = "70">

		<input type="button" value="71" class= "primebutton" onClick="TurnBlue('71')" id = "71">
		<input type="button" value="72" class= "primebutton" onClick="TurnBlue('72')" id = "72">
		<input type="button" value="73" class= "primebutton" onClick="TurnBlue('73')" id = "73">
		<input type="button" value="74" class= "primebutton" onClick="TurnBlue('74')" id = "74">
		<input type="button" value="75" class= "primebutton" onClick="TurnBlue('75')" id = "75">
		<input type="button" value="76" class= "primebutton" onClick="TurnBlue('76')" id = "76">
		<input type="button" value="77" class= "primebutton" onClick="TurnBlue('77')" id = "77">
		<input type="button" value="78" class= "primebutton" onClick="TurnBlue('78')" id = "78">
		<input type="button" value="79" class= "primebutton" onClick="TurnBlue('79')" id = "79">
		<input type="button" value="80" class= "primebutton" onClick="TurnBlue('80')" id = "80">

		<input type="button" value="81" class= "primebutton" onClick="TurnBlue('81')" id = "81">
		<input type="button" value="82" class= "primebutton" onClick="TurnBlue('82')" id = "82">
		<input type="button" value="83" class= "primebutton" onClick="TurnBlue('83')" id = "83">
		<input type="button" value="84" class= "primebutton" onClick="TurnBlue('84')" id = "84">
		<input type="button" value="85" class= "primebutton" onClick="TurnBlue('85')" id = "85">
		<input type="button" value="86" class= "primebutton" onClick="TurnBlue('86')" id = "86">
		<input type="button" value="87" class= "primebutton" onClick="TurnBlue('87')" id = "87">
		<input type="button" value="88" class= "primebutton" onClick="TurnBlue('88')" id = "88">
		<input type="button" value="89" class= "primebutton" onClick="TurnBlue('89')" id = "89">
		<input type="button" value="90" class= "primebutton" onClick="TurnBlue('90')" id = "90">

		<input type="button" value="91" class= "primebutton" onClick="TurnBlue('91')" id = "91">
		<input type="button" value="92" class= "primebutton" onClick="TurnBlue('92')" id = "92">
		<input type="button" value="93" class= "primebutton" onClick="TurnBlue('93')" id = "93">
		<input type="button" value="94" class= "primebutton" onClick="TurnBlue('94')" id = "94">
		<input type="button" value="95" class= "primebutton" onClick="TurnBlue('95')" id = "95">
		<input type="button" value="96" class= "primebutton" onClick="TurnBlue('96')" id = "96">
		<input type="button" value="97" class= "primebutton" onClick="TurnBlue('97')" id = "97">
		<input type="button" value="98" class= "primebutton" onClick="TurnBlue('98')" id = "98">
		<input type="button" value="99" class= "primebutton" onClick="TurnBlue('99')" id = "99">
		<input type="button" value="100" class= "primebutton" onClick="TurnBlue('100')" id = "100">
		</p>
		<input id= "btn" type="button" value="Submit" onClick="sendAnswers()">
		</form>
	</div>
  	<script type="text/javascript">
  	var numQuestions = 100;
	var guesses = [];
	var clickCount = [];

	for(p=0; p <numQuestions; p++){
		guesses.push(0);
		clickCount.push(0);
	}
	function sendAnswers(){
		processAnswers( PrimeNumbersAns,
		guesses)
	}
	</script>

</body>

</html>