<!DOCTYPE html>

<html>

<head>
  <script type="text/javascript" src="../../javascripts/grading.js"></script>
</head>

    <body>
	<div class = "Content">
		 <form id = "questions" name = "Questions">
		 1) What is the difference between probability and odds
		 	<select name="Submission1">
	    		<option value="A"> Probaility is out of total. Odds is wanted/not wanted </option>
	    		<option value="B"> Odds is out of total. Odds is wanted/not wanted</option>
	    		<option value="C"> Probaility is with dice. Odds is with everything else. </option>
	    		<option value="D"> Odds is with dice. Probaility is with everything else.</option>
	  		</select>
	  	<br>
	  	2) What is the probability and what are the odds of choosing a red from the three primary colors?
		 	<select name="Submission2">
	    		<option value="A"> Probability: 1/2 Odds: 1 to 3 </option>
	    		<option value="B"> Probability: 3/1 Odds: 2 to 1 </option>
	    		<option value="C"> Probability: 2/3 Odds: 1 to 3 </option>
	    		<option value="D"> Probability: 1/3 Odds: 1 to 2 </option>
	  		</select>
	  	<br>
	  	3) What is the probability of rolling a 3 on a six sided cube?
		 	<select name="Submission3">
	    		<option value="A"> 3/6 </option>
	    		<option value="B"> 2/6 </option>
	    		<option value="C"> 1/6 </option>
	    		<option value="D"> 0/6 </option>
	  		</select>
	  	<br>
	  	4) 4! = ?
			<select name="Submission4">
	    		<option value="A"> 4 * 3 * 2 * 1 * 0 </option>
	    		<option value="B"> 4 * 3 * 2 * 1 </option>
	    		<option value="C"> 4 * 3 * 2  </option>
	    		<option value="D"> 4 * 3 </option>
	  		</select>
	  	<br>
	  	5) How many ways can the letters of the word WEIRD be arranged? 
			<select name="Submission5">
	    		<option value="A"> 5! </option>
	    		<option value="B"> 4! </option>
	    		<option value="C"> 3! </option>
	    		<option value="D"> 2! </option>
	  		</select>
	  		<input id= "btn" type="button" value="Submit" onClick="sendAnswers()">
	</form>
	
	</div>
 
<script type="text/javascript">
  function sendAnswers(){
    processAnswers( ProbQ2Ans,
      [document.Questions.Submission1.value,
      document.Questions.Submission2.value,
      document.Questions.Submission3.value,
      document.Questions.Submission4.value,
      document.Questions.Submission5.value
      ])
  }
</script>

</body>

</html>
