<!DOCTYPE html>

<html>

<head>
  <script type="text/javascript" src="./../javascripts/grading.js"></script>
</head>

    <body>
	<div class = "Content">
		 <form id = "questionsProbQ2" name = "Questions">
		 1) Commutative
		 	<select name="Submission1">
	    		<option value="A"> 1*40 = 40 </option>
	    		<option value="B"> 9*(4*3) = (9*4)*3 </option>
	    		<option value="C"> 2*(1+6) = 2*1 + 2*6 </option>
	    		<option value="D"> 0 + 1 = 1 + 0 </option>
	  		</select>
	  		<br><br>
	  	2) Distributive
		 	<select name="Submission2">
	    		<option value="A"> 1*10 = 10 </option>
	    		<option value="B"> 3*(1*9) = (3*1)*9 </option>
	    		<option value="C"> 10*(7+8) = 10*7 + 10*8 </option>
	    		<option value="D"> 2 + 5 = 5 + 2 </option>
	  		</select>
	  		<br><br>
	  	3) Associative
		 	<select name="Submission3">
	    		<option value="A"> 8*0 = 0 </option>
	    		<option value="B"> 100*(2*3) = (100*2)*3 </option>
	    		<option value="C"> 3*(2+3) = 3*2 + 3*3 </option>
	    		<option value="D"> 2 + 5 = 5 + 2 </option>
	  		</select>
	  		<br><br>
	  	4) Idenity/Inverse  
			<select name="Submission4">
	    		<option value="A"> 1*3 = 3 </option>
	    		<option value="B"> 10* 3 = 30</option>
	    		<option value="C"> 100* 3 = 300 </option>
	    		<option value="D"> 1000* 3 = 3000 </option>
	  		</select>
		</form>
	</div>
<script type="text/javascript">
  function sendAnswers(){
    processAnswers( PropsExampleAns,
      [document.Questions.Submission1.value,
      document.Questions.Submission2.value,
      document.Questions.Submission3.value,
      document.Questions.Submission4.value
      ])
  }
</script>

</body>

</html>
