<!DOCTYPE html>

<html>

<head>

	<title>
		QuarterQuizes
	</title>
	<script type="text/javascript" src="/javascripts/grading.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	<style>

	.primebutton{
		width: 50px;
		float: left;
		background-color: white;
		box-shadow: 0px 0px 2px gray;
		margin: 10px;
	}

	.PrimeNumbers{
		color: white;
		width: 450px;
		position: absolute;
		left:28%;
		top: 20%;
	}
	
	.Tocopy{
		font-size: 50px;
	}

	</style>

</head>


<body>
<h1>  {{SCORE}}!</h1>

</body>

</html>