<!DOCTYPE html>

<html>

<head>
  <script type="text/javascript" src="../../javascripts/grading.js"></script>
</head>
<body>
	<div class = "Content">
		<p class = "TocopyPrime">
			Example:
			<br>
			2*2 = 4, so 4 is a square number.
		</p>
		 <form name = "Qustions">
		 <textarea name = "Poem" id = "Poem" >
		 </textarea>
		 <input id= "btn" type="button" value="Submit" onClick="sendAnswers()">
		</form>
	</div>
</body>
<script type="text/javascript">
	function sendAnswers(){
		processAnswers(	SquareNumbersListAns,
			[document.getElementById("Poem").value], 'copy')
	}
</script>

</body>

</html>
